.layout-header {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ccc;

    background-color: #fff;
}

.layout-header--fixed {    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;    

    z-index: 9999;
}
  
.layout-plans {
    padding: 80px 0;
}

.layout-parallax {
    padding: 80px 0;
    margin-top: 60px;

    background-color: #7ab55c;
}

.layout-testimony {    
    padding: 80px 0;

    background-color: #e7e7e7;
}

.layout-footer {
    padding: 40px 0;

    background-color: #484848;

    color: #fff;
    text-align: center;
}

@media(max-width: 767px) {
    .layout-plans .row > div:not(.last-col) {
        margin-bottom: 40px;
    }
}



