* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

h1 {
    margin: 0;
}

.box {
    margin: 0 auto;    
    width: 80%;    
    padding: 5%;
    background-color: red;
    color: white;
}