.layout-header {
    height: 60px;
    border-bottom: 1px solid #ccc;
}

.layout-header img {
    margin-top: 12px;    
}
  
.layout-plans {
    padding: 80px 0;
}

.layout-parallax {
    padding: 80px 0;

    background-color: #7ab55c;
}

.layout-testimony {    
    padding: 80px 0;

    background-color: #e7e7e7;
}



